@page "/admin/mascotas/list"
@model VetPet.App.Frontend.ListMascotasModel
@using VetPet.App.Dominio
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Sistema de clínica veterinaría";
}
<a class="h1" data-toggle="tooltip" data-placement="right" title="En está pagina podrás gestionar las mascotas">Gestionar Mascotas</a>
<br>
<div class="mt-sm-4">
<a class="btn btn-primary table-btn" href="/admin/mascotas/add">Agregar mascotas</a>
<div class="table-responsive">
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Tipo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th scope="col">Descripción</th>
        <th scope="col">Dueño</th>
	    <th scope="col">Gestión</th>
        </tr>
    </thead>
    @foreach(var mascota in Model.mascotas) { 
     <tr>
        <td>@mascota.tipo</td>
        <td>@mascota.nombre</td>
        <td>@mascota.edad</td>
        <td>@mascota.descripcion</td>
        <td>@if(mascota.propietario == null) {@Model.message} 
            else {@mascota.propietario.nombre; @Model.space; @mascota.propietario.apellido;}</td>
        <td>
            <a class="btn btn-info table-btn" asp-page="/Admin/Mascotas/DetailMascotas" asp-route-id="@mascota.id"><i class="fa fa-info-circle"></i></a>
            <a class="btn btn-success table-btn" asp-page="/Admin/Mascotas/EditMascotas" asp-route-id="@mascota.id"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger table-btn" asp-page="/Admin/Mascotas/delete" asp-route-id="@mascota.id"><i class='fa fa-trash'></i></a>
        </td>
    </tr>
    }

    </table>
</div>
</div>
