@page "/admin/historias/list"
@model VetPet.App.Frontend.ListHistoriasModel
@using VetPet.App.Dominio
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Sistema de clínica veterinaría";
}
<a class="h1" data-toggle="tooltip" data-placement="right" title="En está pagina podrás gestionar las historias">Gestionar Historias</a>
<br>
<div class="mt-sm-4">
<a class="btn btn-primary table-btn" href="/admin/historias/add">Agregar</a>
<div class="table-responsive">
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Propietario</th>
        <th scope="col">Descripción</th>
        <th scope="col">Gestión</th>
        </tr>
    </thead>
    @foreach(var historia in Model.historias) { 
     <tr>
        <td>@historia.anotaciones[0].mascota.propietario.nombre; @historia.anotaciones[0].mascota.propietario.apellido</td>
        <td>@historia.descripcion</td>
        <td>
            <a class="btn btn-info table-btn" asp-page="/Admin/Historias/DetailAnotaciones" asp-route-id="@historia.id"><i class="fa fa-info-circle"></i></a>
            <a class="btn btn-success table-btn" asp-page="/Admin/Historias/EditAnotaciones" asp-route-id="@historia.id"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger table-btn" asp-page="/Admin/Historias/delete" asp-route-id="@historia.id"><i class='fa fa-trash'></i></a>
        </td>
    </tr>
    }

    </table>
</div>
</div>
