@page "/admin/propietarios/list"
@model VetPet.App.Frontend.Pages.ListPropietariosModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Sistema de clínica veterinaría";
}
<h1>Gestionar Propietarios</h1>
<p>En está pagina podrás gestionar los dueños de las mascotas</p>
<a class="btn btn-primary table-btn" href="/admin/propietarios/add">Agregar propietario</a>
<table class="table table-dark">
    <tr>
        <th scope="col">Cedula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th scope="col">Genero</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Dirección</th>
    </tr>
    @foreach(var propietario in Model.propietarios) {
    <tr>
        <td>@propietario.cedula</td>
        <td>@propietario.nombre</td>
        <td>@propietario.edad</td>
        <td>@propietario.genero</td>
        <td>@propietario.ciudad</td>
        <td>@propietario.direccion</td>
        <td>
            <a class="btn btn-primary table-btn" href="/admin/propietarios/detail" asp-route-cedula="@propietario.cedula">Ver más</a>
            <br>
            <a class="btn btn-primary table-btn" href="/admin/propietarios/edit" asp-route-cedula="@propietario.cedula">Editar</a>
            <br>
            <a class="btn btn-primary table-btn" href="/admin/propietarios/delete" asp-route-cedula="@propietario.cedula">Eliminar</a>
            <br>
        </td>
    </tr>
    }

</table>
